.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-style: groove;
  opacity: 1;
}

.modal-content {
  width: 600px;
  background-color: rgb(255, 255, 255);
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 110px;
  margin-right: 700px;
}

.modal-header {
  padding: 5px;
  text-align: right;
}

.modal-title {
  font-family: "Times New Roman", Times, serif;
  margin-left: 65px;
  margin-right: 65px;
  border-bottom: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 35px;
  color: black;
}

.modal-body {
  padding: 10px;
  margin-left: 65px;
  margin-right: 65px;
  font-size: 20px;
  color: black;
}
