/* .app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: burlywood;
}

.wrapper {
  position: absolute;
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
  font-size: 1rem;
}

img {
  position: absolute;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.text {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  margin-top: 25rem;
  margin-left: 6rem;
  font-size: 4rem;
  color: #f4f6f7;
}

.btn {
  position: absolute;
  margin-top: 40rem;
  margin-left: 20rem;
  font-size: 1rem;
} */

/* body {
  position: relative;
  /* background-image: url(https://images.unsplash.com/photo-1588993608283-7f0eda4438be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXVzdGlufGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: wheat; */

.app {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.wrapper {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1588993608283-7f0eda4438be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXVzdGlufGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: wheat;
}
.txt {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  margin-top: 25rem;
  margin-left: 6rem;
  font-size: 50px;
  color: #f4f6f7;
}
.btn {
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 5rem;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }

  .txt {
    font-size: 20px;
  }

  .btn button {
    font-size: 1rem;
  }
}
